numpy
pandas
scipy
matplotlib
seaborn
plotly
scikit-learn
joblib
catboost
statsmodels
sqlalchemy
requests
streamlit
flask
fastapi
uvicorn
pydantic
python-dotenv
jupyter
ipykernel
streamlit-autorefresh